<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <!--add name="connect" connectionString="Data Source=WRV-013\SQLEXPRESS;Initial Catalog=ShopProject;Integrated Security=true;"
      providerName="System.Data.SqlClient"/-->
    <!--add name="connect" connectionString="Data Source=KOMDIR\SQLEXPRESS;Initial Catalog=ShopProject;Integrated Security=true;"
      providerName="System.Data.SqlClient"/-->
    <!--add name="connect" connectionString="Data Source=ShopProject.mssql.somee.com;user id=OkI_SQLLogin_1;pwd=daemk3st5m;"
      providerName="System.Data.SqlClient"/-->
    <!--add name="connect" connectionString="Data Source=ShopProjectDB.mssql.somee.com;user id=Komdir_SQLLogin_1;pwd=m95uymozyz;"
      providerName="System.Data.SqlClient"/-->
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>